:root {
  color-scheme: light dark;
}

.card-1 {
  background-color: #1a202cf0;
} /* gray.800 ~85% opacity */

.card-2 {
  background-color: #050507db;
} /* gray.800 ~85% opacity */

html,
body,
#root {
  height: 100%;
}

/* Fullscreen background, doesn't affect layout */
.yt-bg {
  position: fixed;
  inset: 0;
  z-index: 0; /* put behind content */
  pointer-events: none; /* keep page clickable */
}

/* Fade overlay over the video */
.yt-bg::after{
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.492) 0%,
    rgba(0, 0, 0, 0.758) 60%,
    rgba(0, 0, 0, 0.936) 100%
  );
}

/* Make the video cover the viewport (crop to fill) */
.yt-bg iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.78vh; /* 100vh * 16/9 */
  height: 100vh;
}

@media (min-aspect-ratio: 16/9) {
  .yt-bg iframe {
    width: 100vw;
    height: 56.25vw; /
